<div>
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <md-form-field>
            <input mdInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName" #firstName="ngModel" required />
        </md-form-field> 
        <md-form-field> 
            <input mdInput type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" #lastName="ngModel" required />
        </md-form-field> 
        <md-form-field> 
            <input mdInput type="text" name="username" placeholder="Username" [(ngModel)]="user.username" #username="ngModel" required />
        </md-form-field> 
            <input mdInput type="email" name="email"  placeholder="Email" [(ngModel)]="user.email" #email="ngModel"/>
        <md-form-field> 
            <input mdInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required />
        </md-form-field>        
        <div class="form-group">
            <button md-raised-button>Register</button>
            <button md-raised-button [routerLink]="['']" >Cancel</button>
        </div>
    </form>
</div>