/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

/* Override colors by using scss variables */
$color-negative-rating: rgb(28, 91, 184) !default;
$color-ok-rating: rgb(28, 91, 184) !default;
$color-positive-rating: #00f !default;
$color-default-rating: rgb(28, 91, 184) !default;

@import "~angular-star-rating/assets/scss/star-rating";
